@tailwind base;
@tailwind components;
@tailwind utilities;

body * {
  font-family: 'Nunito', sans-serif;
  font-family: 'Roboto', sans-serif;
}

body h1 {
  /* font-family: 'Nunito', sans-serif;; */
  font-family: 'Roboto', sans-serif;
}

body p {
  font-family: 'Nunito', sans-serif;
}

body button {
  font-family: 'Nunito', sans-serif;
}

.screen {
  max-width: 6000px;
  margin: 0 auto 0;
}

.para {
  line-height: 3rem;
  font-size: 1.6rem;
  color: gray;
  font-weight: 100;
}

.nav button:hover {
  @apply bg-primary;
  @apply text-white;
}

.summary-box {
  height: 100rem;
}

.summary-box p {
  height: 80rem;
}

.graphic {
  height: 100rem;
  width: 100%;
  display: hidden;
}

.scroll-navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: all 0.3s;
}

/* #menu-toggle:hover {
  @apply bg-none
} */

.hero_button {
  min-width: 300px;
  padding: 1rem 0;
}

@media screen and (min-width: 700px) {
  .hero_button {
    min-width: 600px;
  }
}

@media screen and (max-width: 600px) {
  .para {
    font-size: 1.2rem;
    line-height: 2rem;
  }
}
